* {
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Sans', sans-serif;
}

#navbar {
  position: fixed;
  background-color: rgb(84, 171, 247);
  height: 60px;
  width: 100%;
}

#navitems {
  display: flex;
  list-style: none;
}

.nitem {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  padding: 0.8em;
  margin: 0px 10px;
  border-radius: 1em;
  transition: 0.5s;
}

.nitem:hover {
  background-color: rgb(0, 136, 255);
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(189, 220, 248);
  padding: 80px 20px;
  height: 100vh;
}
#greet {
  margin: 10px;
}
#info {
  margin: 10px;
}

#intro ,#skills,#skills ul{
  margin: 10px;
}

#desc {
  width: 50vw;
}

#pic
{
    height: 400px;
}

@media (max-width: 600px) {
    #desc
    {
        width: 100vw;
    }
  }