*{
    margin: 0;
    padding: 0;
}

.container
{
    max-width: 80vw;
}

.topleft
{
    width: 50%;
    padding: 12px 0;
}

.topright
{
    width: 50%;
    height:50vh;
}

.section1
{
    height:50vh;
}

.logo
{
    font-size: 1.3rem;
}